.Leaderboards {
  height: calc(100vh - 77px);
  /* max-height: 100vh; */
  display: grid;
  grid-template: 3fr 2fr / 1fr 2fr;
}

.leaderboard-container {
  grid-column: 1 / 3;
}

.level-cards-container {
  /* width: 66%; */
  /* max-width: 66%;  */
  /* max-height: 60vh; */
  /* padding: 60px 20px 20px 20px; */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  overflow-y: auto;
}
.level-grid-card {
  width: 100%;
  height: 200px;
  text-align: center;
}
.level-grid-card:hover {
  cursor: pointer;
}
img.level-grid-card-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.level-grid-card,
.level-preview-card {
  border: 1px solid var(--translucent-grey-border-color);
  border-radius: 10px;
  background-color: rgb(55, 55, 55);
  box-shadow: 4px 4px 6px black;
  overflow: hidden;
}

/* .level-preview-container */
.selected-level-card-container {
  display: grid;
  place-items: center;
}
.level-preview-card {
  /* width: 80%; */
  padding: 20px;
  margin: 20px;
  /* height: 300px; */
  text-align: center;
  border-radius: 10px;
}
.level-preview-card:hover {
  background-color: grey;
  cursor: pointer;
}
img.level-preview-img {
  height: 240px;
  object-fit: cover;
}

.preview-pending-data-text {
  padding: 20px;
  text-align: center;
}