.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-buttons-container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
}

a.nav-button {
  color: inherit;
  text-decoration: none;
}